---
import { Icon } from 'astro-icon/components'
import PostImage from './PostImage.astro'

const { post } = Astro.props
const date = post.data.pubDate.toLocaleDateString().replaceAll('/', '-')
---

<div class="flex flex-col items-center gap-4 my-10">
  {post.data.image ? <PostImage src={post.data.image} alt={post.id} /> : null}
  <div class="flex flex-col items-center gap-4 my-10">
    <div class="flex flex-col items-center">
      <h3 class="text-4xl text-pastel font-anton">
        {post.data.title.toUpperCase()}
      </h3>
      <p>{post.data.description}</p>
    </div>
    <div class="flex items-center gap-6">
      <span class="flex items-center gap-3">
        <Icon name="ri:calendar-event-line" />
        {date}
      </span>
      <span class="flex items-center gap-3">
        <Icon name="ri:user-3-line" />
        {post.data.author}
      </span>
    </div>
  </div>
</div>
